@import 'var';
body{
    color:#666;
    background:#fff;
}
#top_nav{
    .container{
        width: 990px;
        .yg{
            a{
                background:transparent;
            }
        }
    }
}
.container{
        width: 990px;
    }
#uc_hd{
    padding:13px 0;
    border-bottom:1px solid #dcdbde;
    h2{
        float:left;
        padding: 5px 30px 5px 0;
        border-right: 1px solid #e6e6e6;
        margin-right: 30px;
        a{ 
            display:block;
        }
    }
    p{
        font-size:18px;
        line-height: 42px;
    }
}
#login{
    margin-bottom:97px;
    .form{
        margin-top:50px;
        width: 378px;
        .tab_reg{
            border-bottom: 1px solid #f3f3f3;
            margin: 24px 15px 0 15px;
            font-size:0;
            a{
                width: 123px;
                height: 40px;
                line-height: 40px;
                text-align:center;
                display:inline-block;
                font-size:12px;
            }
            ._logon{
                background:#333;
                color:#fff;           
            }
            ._login{
                background:#f3f3f3;
                margin:0 5px 0 53px;
                color:#333;
                &:hover{
                    color:$mainColor;
                }
            }
        }
    }
    .reg_from{
        padding-top:30px;
        margin:0 15px;
        padding-left:10px;
        position:relative;
        .ipt{
            margin-left:8px;
            width: 313px;
            margin-bottom:28px;
            border:1px solid #e3e2e2;
            height: 36px;
            input{
                height: 36px;
                width: 235px;
                vertical-align:middle;
            }
            label{
                color:#000;
                margin-left:10px;
                width: 60px;
                height: 36px;
                line-height: 36px;
                display:inline-block;
                vertical-align:middle;
            }
        }
        .yzm{
            display:inline-block;
            width: 200px;
            vertical-align:middle;
            #yzm{
                width: 126px;
            }
        }
        ._yzm{
            display:inline-block;
            width: 110px;
            height: 40px;
            margin-right:3px;
            vertical-align:middle;
        }
        .warns{
            margin-left:8px;
            display:none;
            padding-left:25px;
            line-height: 28px;
            color:#e60012;
            &:before{
                content:'';
                background:url(../img/icon_sig_reg.png) no-repeat -180px -92px;
                position: absolute;
                left:18px;
                height: 23px;
                width: 36px;
            }
        }
        .sub{
            text-align:center;
            input{
                background:#e1373a;
                color: #fff;
                font-size: 16px;
                height: 40px;
                line-height: 40px;
                width: 312px;
            }
        }
        .agree{
            line-height: 20px;
            text-align:center;
            margin-bottom:5px;
        }
    }  
}
.tright{
        text-align:center;
        line-height: 20px;
        color:#aaa;
        a{
            color:#aaa;
        }
    }